nav {
  height: 120px;
  background-color: #4056A1;
  z-index: 1;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
}

.logo {
  font-family: 'Bungee', cursive;
  float: left;
}
.Write-new-tweet-description {
  float: right;
}
.arrows {
  cursor: pointer;
}

/* #arrow {
  float: right;
  margin-top: 70px;

} */