nav {
  height: 120px;
  background-color: #4056A1;
  z-index: 1;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5em;
}

.logo {
  font-family: 'Bungee', cursive;
  float: left;
}
.Write-new-tweet-description {
  float: right;
}

@keyframes bounce {
  0% {
transform: translate(0, 5px);
}

50%{
transform: translate(5px, 0); 
}

/* 75%{
transform:  translate(0px, -25px); 
}

100% {
transform: translate(0px, 0px);
} */
}

.arrows {
  display: block;
  cursor: pointer;
  color: red;
  text-align: center;
  animation: bounce 0.5s infinite;
}
/* #arrow {
  float: right;
  margin-top: 70px;

} */