#tweet-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.tweets:hover {
  box-shadow: 10px 10px #b5b4d9; 
}
.tweets:hover .Username{
  display: flex;
}
.tweets:hover .icons{
  display: inline;
}

.tweets {
  border: 3px solid black;
  margin: 40px;
  overflow-wrap: break-word;
}

.tweets > header{
display: flex;
justify-content: space-between;
font-size: 20px;
padding: 1em;
}
.tweets > header > div {
  display: flex;
  justify-content: space-between;

}
.Username {
  display: none;
  color: #b5b4d9;
}

.tweets > p{
  width: 96%;
  margin: 0 auto; 
  font-size: 20px;
  margin-bottom: 15px;

}

.tweets > footer{
  margin-top: 10px;
  width: 96%;
  margin: 0 auto; 
  border-top: 3px solid black;
  margin-bottom: 10px;
}

.icons{
  float: right;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}

.time {
  font-size: 15px;
  margin-top: 10px;

}

.avatar {
  width: 65px;
  height: 65px;

}



